# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.dart text
*.yaml text
*.yml text
*.json text
*.md text
*.txt text
*.html text
*.css text
*.js text
*.xml text
*.kt text
*.java text
*.gradle text
*.properties text
*.arb text
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
*.so binary
*.dll binary
*.exe binary
*.aar binary
*.apk binary
*.aab binary
